CLIENT_DOMAIN=localhost
NEXT_PUBLIC_HOST_URL=http://localhost:3000
TYPESENSE_URL=http://localhost:8108
TYPESENSE_CONNECTION_TIMEOUT_SECONDS=5
TYPESENSE_HEALTH_PATH=/health
TYPESENSE_API_KEY=wfpOekvNKjDn+VJDcXEcVgz10Sk1zRUftib1BKQ4RawECY/LJrF/a3TBYP3IzzV46QspICnNfyKwdm3rH46R6g== # Replace it with another random string

AUTH_SECRET=any_32_byte_string
AUTH_KEYCLOAK_ID=keycloak_client_id
AUTH_KEYCLOAK_SECRET=keycloak_client_secret
AUTH_KEYCLOAK_ISSUER=keycloak_realm_url

AUTH_OKTA_ID=okta_client_id
AUTH_OKTA_SECRET=okta_client_secret
AUTH_OKTA_ISSUER=okta_realm_url
